if messages.errors
  .col.col-3-of-8.center.text-center
    for error in messages.errors
      div= error.msg

if messages.info
  .col.col-3-of-8.center.text-center
    for info in messages.info
      div= info.msg

if messages.success
  .col.col-3-of-8.center.text-center
    for success in messages.success
      div= success.msg