body
  .grid
    .row
      .col.col-1-of-4.push-1-of-8
        a(href='/')
          img.grup-icon(src='/assets/grup.svg')

      if (req.isAuthenticated())
        .col.col-2-of-4.right
          ul
            |
            li
              a.btn.-primary.flat.cta.alt(href='/posts/new') Create new post
            |
            li
              a(href="/users/"+req.user.id, title="Profile") Profile
            |
            li
              a(href="/logout", title="logout") Logout
