if (comment && comment.user)
  .col.col-3-of-8.comment-body
    //- name= comment.commenterName
    p
      a(href="/users/" + comment.user._id)= comment.commenterName
    p
    =comment.body

    p.muted
      form.form-inline(role="form", method="post", action="/posts/" + post._id + "/comments/" + comment._id, onsubmit="return confirm('Are you sure?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        span.muted= formatDate(comment.createdAt)
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger.btn-link.error(type="submit") delete