extends ../../layouts/default


block content
  - var action = '/posts'
  if (!post.isNew)
    - action += '/'+post.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each errors in errors
          li = error.type


  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
        if (!post.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='post') post Body
          .controls
            textarea#tweet.input-xlarge(type='text', rows="3", name="body",
              placeholder='Enter your post here',maxlength='140')=post.body

        .form-actions
          button.btn.btn-primary.flat(type='submit') Publish post
          &nbsp;
          a.btn(href='/tweets', title="cancel") Cancel
