body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-size: $font-base-size;
  font-family: $base-font;
}
.user-welcome {
  font-family: monospace;
  color: $green;
}
.text-center {
  text-align: center;
}
p.error {
  color: $color-error;
}
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}