extends auth

block auth
  form.form-signup(action="/users", method="post", role="form")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    //- p.error= message
    label.form-label.-username username
    input#username.form-control.-username(type='text', name="username", autocomplete="off", value=user.username)

    label.form-label.-password password
    input#password.form-control.-password(type='password', name="password", autocomplete="off")

    br
    button.btn.-primary(type='submit') sign up

    h3
      a.btn.-secondary(href="/login") log in