extends ../layouts/default

//- block newpost
//-   li
//-     a.btn.-primary.flat.cta.alt(href='/posts/new')
//-       i(class="icon-pencil")  Create new post

block content
  .grid
    .row
    - if (posts.length)
      each post in posts
        include post

    // - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)